@font-face {
   font-family: OSP-DIN;
   src: url(../font/OSP-DIN.ttf);
}
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

html {
  margin: 0;
  background-size: cover;
  background-image: url("images/image1.jpg") no-repeat center center fixed;
  background-blend-mode: darken;
  transition: 7s;
}

body {
text-align: center;
color: white;
font-family: 'OSP-DIN', Arial, sans-serif;
margin: 0px;
padding: 0px;
}

a {
color: inherit;
text-decoration: inherit;
}


#wrapper {
position: fixed;
width: 100%;
height: 100%;
}
#attribution {
position: absolute;
top: 0px;
right: 0px;
}

#display {
width: 100%;
height: 100%;
text-align: center;
background: rgba(0,0,0,0.2)
/*background: url("bg.jpeg") center center / cover no-repeat rgb(0, 0, 0); */

}

.forecast {
width: 20%;

}

#forecast1 {
color: #FFFFFF;
}
#forecast2 {
color: #FFFFFF;
}
#forecast3 {
color: #FFFFFF;
}
#forecast4 {
color: #FFFFFF;
}
#forecast5 {
color: #FFFFFF;
}

.wi {
font-size: 14vmin;
 line-height: 19vmin !important;
}
#currently {
 height: 56vh;
}
#currently .wi {
font-size: 18vmin;
}

#forecastHeading {
height: 100px;
}
#forecast {
 font-size: 15vmin;
 margin-bottom: 4vmin;
}

.day {
font-size: 3.5vmin;
margin-bottom: 2.5vmin;
}
.desc {
font-size: 3.5vmin;
 margin-top: 2.5vmin;
margin-bottom: 0.5vmin;
}
.highTemp {
font-size: 3vmin;
}
.lowTemp {
font-size: 3vmin;
}
.currentTemp {
 font-size: 7vmin;
 vertical-align: middle;
}
.temp {
 font-size: 7vmin;
  vertical-align: middle;

}
#currentlyHeading {
font-size: 5vmin;
}
#mileDistance {
	font-size: 5vmin;
  margin-top: 20px;
  margin-bottom: 20px;
}
#currently .desc {
font-size: 8vmin;
margin-bottom: 0.5vmin;
}
#currently .tvminp {
font-size: 2.5vmin;
}

#time {
font-size: 15vmin;
}
#date {
font-size: 5vmin;
color: #CCCCCC;
}
#name {
font-size: 10vmin;
}


.currentlyWrapper {
display: inline-block;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.5);
padding-top: 1.4vh;
}

#clocktimer{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 9vmin;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: transparent;
	display: inline-block;
}

#clockdiv div > span{
	border-radius: 3px;
	background: transparent;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 3vh;
}



.page_title {
	font-weight: 300;
	line-height: 120%;
  text-shadow: 0 1px 5px rgba(0,0,0,.8);
	text-transform: uppercase;
}

.modal_open,
.modal_close {
	background: rgba(255,255,255,.2);
	border-radius: 40px;
	cursor: pointer;
	display: inline-block;
	padding: 10px 40px;
	transition: all 250ms;
	-webkit-transition: all 250ms;
}
.modal_open:hover,
.modal_close:hover {
	box-shadow:  inset 0 1px 1px rgba(255,255,255,.1), 0 2px 4px rgba(0,0,0,.4);
	text-shadow: -1px -1px 1px rgba(0,0,0,.4), 1px 1px 1px rgba(255,255,255,.1);
}

/* OVERLAY STYLES ========== */
.modal .modal_overlay {
	background: rgba(0,0,0,.9);
	height: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	top: 50vh;
	transition: height 200ms 200ms, opacity 200ms 400ms, top 200ms 200ms;
	-webkit-transition: height 200ms 200ms, opacity 200ms 400ms, top 200ms 200ms;
	width: 100vw;
	z-index: 9;
}
.modal.active .modal_overlay {
	height: 100%;
	left: 0;
	opacity: 1;
	top: 0;
	transition: height 200ms 200ms, opacity 200ms, top 200ms 200ms;
	-webkit-transition: height 200ms 200ms, opacity 200ms, top 200ms 200ms;
	width: 100vw;
}
.modal .modal_overlay .inner {
	background: rgba(255,255,255,.15);
	margin: 10px auto;
	max-width: 1190px;
	opacity: 0;
	transition: opacity 200ms;
	-webkit-transition: opacity 200ms;
	width: 80%;
}
.modal.active .modal_overlay .inner {
	opacity: 1;
	transition: opacity 200ms 500ms;
	-webkit-transition: opacity 200ms 500ms;
}

main-container {
  display: block;
  margin: 0 auto;
  max-width: 30rem;
  padding: 2rem 1rem;
  width: 100%;
  font-size: 5vmin
}
.main-container .current-balance {
  background: #191970;
  border: 1px solid #191970;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3), 0 5px 10px rgba(0,0,0,0.2), inset 0 1px 0 rgba(255,255,255,0.5), inset 0 5px 15px rgba(255,255,255,0.3);
  color: #fff;
  display: block;
  margin: 0 auto;
  position: relative;
  padding-left:2rem;
  padding-right:2rem;
  width: 80%;
  z-index: 1;
}
.main-container .current-balance h2 {
  font-size: 5vmin;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.main-container .current-balance h2 span {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.6;
  text-transform: uppercase;
}
.content-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  margin-top: -60px;
  padding-top:3rem;
  position: relative;
  width: 100%;
  z-index: 0;
/*table*/
}
.content-container .purchase-history {
  border: 1px solid rgba(0,0,0,0.2);
  border-collapse: separate;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
}
.content-container .purchase-history td {
}
.content-container .purchase-history td:first-child {
  border-radius: 10px 0 0 10px;
}
.content-container .purchase-history td:last-child {
  border-radius: 0 10px 10px 0;
}
.content-container .purchase-history td.add {
  color: #7986cb;
  font-weight: 600;
}
.content-container .purchase-history thead tr {
  background: #e8eaf6;
}
.content-container .purchase-history thead td {
  color: #191970;
  font-weight: bold;
}
.content-container .purchase-history tbody tr:nth-child(even) {
  background: rgba(0,0,0,0.03);
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .main-container {
    padding: 0.5rem;
  }
  .main-container .current-balance {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }
  .content-container {
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    padding: 1rem;
/*table*/
  }
  .content-container .purchase-history {
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }
  .content-container .purchase-history thead tr,
  .content-container .purchase-history tbody tr {
    display: flex;
    justify-content: space-between;
  }
}

